<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="coupons">Coupon System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- <ng-container *ngIf="mysessionStorage.getItem('isLogin')" > -->
        <!-- <ng-container *ngIf="mysessionStorage.getItem('userType')=='CUSTOMER'" > -->
            <li *ngIf="mysessionStorage.getItem('userType')!='COMPANY'" class="nav-item active">
              <a class="nav-link" routerLink="coupons"  name = "Buy">Buy </a>
            </li>
            <li *ngIf="mysessionStorage.getItem('userType')!='COMPANY'" class="nav-item active">
              <a class="nav-link" routerLink="customer-coupons" name= "My Coupons">Customer Coupons</a>
            </li>
            <li *ngIf="mysessionStorage.getItem('userType')!='CUSTOMER'" class="nav-item active">
              <a class="nav-link" routerLink="company-coupons" name= "My Coupons">Company Coupons</a>
            </li>
            <li *ngIf="mysessionStorage.getItem('userType')!='!COMPANY' || !mysessionStorage.getItem('isLogin')" class="nav-item active">
              <a class="nav-link" routerLink="cart" name = "cart">Cart</a>
            </li>
            <li *ngIf="mysessionStorage.getItem('userType')=='ADMIN'" class="nav-item active">
              <a class="nav-link" routerLink="customers-table" name = "customers table">Customers Table</a>
            </li>
            <li *ngIf="mysessionStorage.getItem('userType')=='ADMIN'" class="nav-item active">
              <a class="nav-link" routerLink="companies-table" name ="companies table">Companies Table</a>
            </li>
          
            <!-- </ng-container> -->
      <!-- </ng-container> -->
    </ul>


    <div *ngIf="!mysessionStorage.getItem('isLogin')" class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-success my-2 my-sm-0" routerLink="login">login</a>
    </div>

    <div *ngIf="mysessionStorage.getItem('isLogin')&&mysessionStorage.getItem('userType')=='CUSTOMER'" class="form-inline my-2 my-lg-0">
      <app-user-menue></app-user-menue>
    </div>
    <div *ngIf="mysessionStorage.getItem('isLogin')&&mysessionStorage.getItem('userType')=='COMPANY'" class="form-inline my-2 my-lg-0">
      <app-company-menu></app-company-menu>
    </div>
    <div *ngIf="mysessionStorage.getItem('isLogin')&&mysessionStorage.getItem('userType')=='ADMIN'" class="form-inline my-2 my-lg-0">
        <!-- <app-company-menu></app-company-menu> -->
        <app-user-menue></app-user-menue>
    </div>
  </div>
</nav>
