<div class="col-4">

  <form class="px-4 py-3" (ngSubmit)="register()" #registerForm="ngForm">
    <h3>Register</h3>
    <div class="form-group">
      <label>Name</label>
      <input #nameData="ngModel" required name="userName" [(ngModel)]="userName" type="text" class="form-control"
        placeholder="jhon doe">
      <label style="color :red" *ngIf="nameData.invalid && !nameData.untouched">name is a required filed</label>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input #passwordData="ngModel" required minlength="6" maxlength="10" name="userPassword" [(ngModel)]="userPassword"
        type="password" class="form-control" placeholder="Password">
      <label *ngIf="passwordData.invalid && !passwordData.untouched" style="color :red">please enter password between 6
        to 10 chars</label>
    </div>
    <div class="form-group">
        <label>Repeat Password</label>
        <input #theNewPassword2="ngModel" required minlength="6" maxlength="10"  name= "newPassword2" [(ngModel)]="newPassword2" 
          type="password" class="form-control" placeholder="Password">
        <label  *ngIf ="theNewPassword2.invalid && !theNewPassword2.untouched" style="color :red">please enter password between 6
           to 10 chars</label>
      </div>
    <div class="form-group" *ngIf="userType == 'COMPANY'">
      <label>Email</label>
      <input #emailData="ngModel" required email type="email" name="userEmail" [(ngModel)]="userEmail" class="form-control"
        placeholder="email">
      <label *ngIf="emailData.invalid && !emailData.untouched" style="color :red">please entera valid email</label>
    </div>
    <div>
      <select name="userType" [(ngModel)]="userType" class="custom-select">
        <option value="CUSTOMER">customer</option>
        <option value="COMPANY">company</option>
      </select>
    </div>
    <br>
    <label  *ngIf ="userPassword != newPassword2 && (!theNewPassword2.untouched && !passwordData.untouched)" style="color :red">the passwords do not match</label>

    <button [disabled]="registerForm.form.invalid || passwordData != newPassword2" class="btn btn-primary ml-2" type="submit">Sign up</button>
    <!-- <button [disabled]="registerForm.form.invalid" type="submit" class="btn btn-primary">Sign up</button> -->
  </form>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="../login">a sign in user?</a>
  <a class="dropdown-item" routerLink="../registerCompany">want to sell coupons?</a>
</div>
