<!DOCTYPE html>
<div class="row">
  <div class="col-md-3 col-sm-6" *ngFor="let coupon of coupons">
    <div class="product-grid2">
      <div class="product-image2">
        <a (click)="goToCoupon(coupon)">
          <img class="pic-1" [src]="coupon.image">
          <img class="pic-2" src="https://lh3.googleusercontent.com/CBhaPXOlnExzvAaQqEAP12MozrkS0VChNW7x1pdfEJwmrvuJKyY4T0SEZdbL22RtFSrDJETert8DTn-6S5bavnEW_iOnB3MqyN-i_HqtsEy-naRZuXHD_INqr-pD0zeQyG5ayABDqmUulYPBgQM-CyUuHbJxWcVzZdX0_cTPON_EGrmZRsAkrt86rRA3JhPrJXgWp-xO7ifF859EWAcixy_p05YC06PaMdU3bip3SzVeyYhl8pR7wu6FaWjwDTDUS8VIBXzmjiHI3CjB8u7qnc1YmTkAY94joTcsjTi6h1Ma9xQn7hW_auNs3tLotTkLyX9RxmHQ-SweSjgOsfLKlgNuYZtzXnUQaFlSlhDWg_9M3GyETSSmsAEMwc05P2XddUx9HiRjvLVY-UHTJcw8cOYnrk6kfVS735eldk7ZERJ8U1DOXYUFN7Y4ac0O24XDK8wYI00LSIrSfSGPiKpdB8bKnIljEVKFZYi8bZm7-Af7u67L3XPqHYfLCvjAX0kyIs8njhYm80l4fdjheSUkO7iGLqZ1BP8PIoPC5lxxEfOREiu6u9rzdmsAUSE81Il-y8x3oCMGxRXhy16fre-IuK5VXAU3o1Cjto6kkuOfW9ITIi0MIjdVbyYWXXmBRsBZ8SmcqhxbnqHeffO76iwBa10zVA=w633-h843-no">
        </a>
   
        <a class="add-to-cart" (click)="addToCart(coupon)">Add to cart</a>
      </div>
      <div class="product-content">
        <h3 class="title"><a>{{coupon.title}}</a></h3>
        <span class="price">{{coupon.price}}</span>
      </div>
    </div>
  </div>
</div>
