<form (ngSubmit)="updateProduct()" #editProductForm="ngForm">
  <legend>Update Product</legend>

  <!-- Text input-->
  <div class="form-group row row">
    <label class="col-md-2 control-label" for="textinput">Title</label>
    <div class="col-md-4">
      <input required #couponTitle="ngModel" name="couponTitleName" id="couponTitleId" type="text" placeholder="meal for two" [(ngModel)]="title"
        class="form-control input-md">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group row row">
    <label class="col-md-2 control-label" for="textinput">Description</label>
    <div class="col-md-4">
      <textarea required #couponMessege="ngModel" id="couponDescriptionId" name="couponDescriptionName" type="text" placeholder="diner for 2 at our place"
        [(ngModel)]="message" class="form-control input-md"></textarea>
    </div>
  </div>


  <div class="form-group row row">
    <label class="col-md-2 control-label" for="selectbasic">coupon type</label>
    <div class="col-md-4">
      <select #CcouponType="ngModel" id="couponTypeId" name="couponTypeName" class="form-control" [(ngModel)]="type">
        <option value="RESTAURANTS">Restaurants</option>
        <option value="ELECTRICITY">Electricity</option>
        <option value="FOOD">Food</option>
        <option value="HEALTH">Health</option>
        <option value="SPORTS">Sports</option>
        <option value="CAMPING">cAMPING</option>
        <option value="RESTAURANTS">Restaurants</option>
        <option value="TRAVELLING">Travelling</option>
      </select>
    </div>
  </div>

  <div class="form-group row row">
    <label class="col-md-2 control-label" for="textinput">Price</label>
    <div class="col-md-4">
      <input required #couponPrice="ngModel" name="couponPriceName" id="couponPriceId" type="number" step="0.01" placeholder="1553.5"
        [(ngModel)]="price" class="form-control input-md">
    </div>
  </div>
  <div class="form-group row row">
    <label class="col-md-2 control-label" for="amount">amount</label>
    <div class="col-md-4">
      <input required #coupoAmount="ngModel" name="couponAmountName" id="couponAmountId" type="number" placeholder="10" class="form-control input-md" [(ngModel)]="amount">
    </div>
  </div>

  <div class="form-group row row">
    <label class="control-label col-md-2" for="couponStartDate">Start Date</label>
    <div class="col-md-4">
      <div class="input-group registration-date-time">
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
        <input required #couponStartDate="ngModel" class="form-control" value="31-05-2109" name="couponStartDateName" id="couponStartDateId"
          type="date" [(ngModel)]="startDate">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="control-label col-md-2" for="registration-date">End Date</label>
    <div class="col-md-4">
      <div class="input-group registration-date-time">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
        <input #couponEndDate="ngModel" class="form-control" name="couponEndDateName" id="couponEndDateId" type="date"
          [(ngModel)]="endDate">
      </div>
    </div>
  </div>


  <div class="form-group row row">
    <label class="col-md-2 control-label" for="file">Image</label>
    <div class="col-md-4">
      <input required #couponImage="ngModel" type="text" name="couponImageName" id="couponImageId" [(ngModel)]="image">
      <!-- <img class="img-thumbnail" [src]="image"> -->
      <input required #couponImage type="file" (change)="onFileChanged($event)" >
    </div>
  </div>

  <div class="form-group row row">
    <img>
  </div>
  <div class="form-group row">
    <label class="col-md-2 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <button [disabled]="!editProductForm.form.valid" id="singlebutton" name="singlebutton" class="btn btn-primary">Edit
        Coupon</button>
    </div>

  </div>
</form>
<div class="form-group row">
  <label class="col-md-2 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button (click)="deleteCoupon()" class="btn btn-danger">Delete Coupon</button>
  </div>

</div>

<div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
