
                        
            <div class="container">
              <div class="row  custyle">
                <table class="table table-striped custab">
                  <thead>
                    <!-- <tr>
                      <th></th>
                      <th></th>
                      
                    </tr> -->
                    <tr>
                      <th>ID Number</th>
                      <th>Company Name</th>
                      <th class="text-center">
                        <a class="btn btn-primary btn-xs " routerLink="/register">Create Company</a>
                        
                                  </th>
                                </tr>
                                
                            </thead>
                            
                          <tr *ngFor="let company of companies; let i = index">
                              <td>{{company.id}}</td>
								              <td>{{company.compName}}</td>        
                                <td class="text-center">
                                  <a class='btn btn-info btn-xs' (click)="companyProfile(i)">
                                    <span class="glyphicon glyphicon-edit"></span> Edit</a> 
                                  <a class="btn btn-danger btn-xs" (click)="removeCompany(i)">
                                    <span class="glyphicon glyphicon-remove"></span> Del</a>
                                    <a class="btn btn-default btn-xs" (click)="companyCoupons(i)">
                                        <span class="glyphicon glyphicon-barcode"></span> Coupons</a></td>
                                        
                                    </tr>
                            </table>
                            </div>
                        </div>

            