<!DOCTYPE html>
<html>

<head>
  <title>Coupon Detail</title>
</head>

<body>

  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">

            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img [src]="'/couponby/resources/coupons/' + coupon.image" /></div>
            </div>

          </div>
          <div class="details col-md-6">
            <h3 class="product-title">{{coupon.title}}</h3>
            <p class="product-description">{{coupon.message}}</p>
            <h4 class="price">current price: <span>{{coupon.price}}</span></h4>
            <div class="action">
              <!-- add ngif for buttons according to user and view -->
              <button *ngIf= "(mysessionStorage.getItem('userType')!='COMPANY')" (click)="addToCart()" class="add-to-cart btn btn-default" type="button">add to cart</button>
              <button *ngIf= "(mysessionStorage.getItem('userType')=='COMPANY')&&(mysessionStorage.getItem('userId')==coupon.companyId.toString())||(mysessionStorage.getItem('userType')=='ADMIN')" (click)="editCoupon(coupon)" class="add-to-cart btn btn-default" type="button">edit coupon</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
