<div class="container">
  <div class="row">
    <div class="col-md-6  offset-md-0  toppad">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Update Password</h2>
         <form (ngSubmit)="updateCustomerPassword(oldPassword,newPassword1)" #editPasswordForm ="ngForm">
          <table class="table table-user-information ">
            <tbody>
              <tr>
                <td>Old passwprd:</td>
                <td><input  #theOldPassword="ngModel" required minlength="6" maxlength="10" [(ngModel)]="oldPassword" name = "oldPassword"></td>
              </tr>
              <label  *ngIf ="oldPassword.invalid && !oldPassword.untouched" style="color :red">please enter password between 6 to 10 chars</label>
              <tr>
                <td>New Passwprd:</td>
                <td><input #theNewPassword1="ngModel" required minlength="6" maxlength="10" [(ngModel)]="newPassword2" name = "newPassword1"></td>
              </tr>
              <label  *ngIf ="newPassword1.invalid && !newPassword1.untouched" style="color :red">please enter password between 6 to 10 chars</label>
              <tr>
                <td>Reppet New Passwprd:</td>
                <td><input #theNewPassword2="ngModel" required minlength="6" maxlength="10" type="text" [(ngModel)]="newPassword1" name= "newPassword2"></td>
              </tr>
              <label  *ngIf ="newPassword2.invalid && !newPassword2.untouched" style="color :red">please enter password between 6 to 10 chars</label>
            </tbody>
          </table>
          <label  *ngIf ="newPassword1 != newPassword2 && (!newPassword2.untouched || !newPassword1.untouched)" style="color :red">the repet and new password not match</label>

          <button [disabled]="updateCustomerPassword.form.invalid" class="btn btn-primary ml-2" type="submit">Save New Password</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
