<div style="margin-top: 0.3%">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <aside>
          <app-header></app-header>
        </aside>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <main>
             <router-outlet></router-outlet>
        </main>
      </div>
      <div class="row">
        <div class="col">
          <main>
            <footer>
              <app-footer></app-footer>
            </footer>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
