<div *ngIf="loginService.isFinishLogIn==true" style="margin-top: 0.3%">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <aside>
          <app-header></app-header>
        </aside>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <main>
             <router-outlet></router-outlet>
        </main>
      </div>
      <div class="row">
        <div class="col">
          <main>
            <footer>
              <app-footer></app-footer>
            </footer>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loginService.isFinishLogIn==false">
  <!-- waiting -->
  <iframe src="https://giphy.com/embed/3oEjI6SIIHBdRxXI40" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mashable-3oEjI6SIIHBdRxXI40">via GIPHY</a></p>
</div>
