<form (ngSubmit)="createProduct()" #createProductForm="ngForm">
  <legend>Create New Product</legend>

  <!-- Text input-->
  <div class="form-group row row">
    <label class="col-md-2 control-label" for="textinput">Title</label>
    <div class="col-md-4">
      <input required #couponTitle="ngModel" name="couponTitle" type="text" placeholder="meal for two" [(ngModel)]="title"
        class="form-control input-md">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group row row">
    <label class="col-md-2 control-label" for="textinput">Description</label>
    <div class="col-md-4">
      <textarea required #couponMessege="ngModel" id="Description" name="couponDescription" type="text" placeholder="diner for 2 at our place"
        [(ngModel)]="message" class="form-control input-md"></textarea>
    </div>
  </div>


  <div class="form-group row row">
    <label class="col-md-2 control-label" for="selectbasic">coupon type</label>
    <div class="col-md-4">
      <select required #CcouponType="ngModel" id="coupon type" name="selectbasic" class="form-control" [(ngModel)]="type">
        <option value="RESTAURANTS">Restaurants</option>
        <option value="ELECTRICITY">Electricity</option>
        <option value="FOOD">Food</option>
        <option value="HEALTH">Health</option>
        <option value="SPORTS">Sports</option>
        <option value="CAMPING">Camping</option>
        <option value="TRAVELLING">Travelling</option>
      </select>
    </div>
  </div>

  <div class="form-group row row">
    <label class="col-md-2 control-label" for="textinput">Price</label>
    <div class="col-md-4">
      <input required #couponPrice="ngModel" id="Price" name="couponPrice" type="number" step="0.01" placeholder="1553.5"
        [(ngModel)]="price" >
    </div>
  </div>
  <div class="form-group row row">
    <label class="col-md-2 control-label" for="textinput">amount</label>
    <div class="col-md-4">
      <input required #coupoAmount="ngModel" id="amount" name="couponPrice" type="number" placeholder="10"  [(ngModel)]="amount">
    </div>
  </div>

  <div class="form-group row row">
    <label class="control-label col-md-2" for="registration-date">Start Date</label>
    <div class="col-md-4">
      <div class="input-group registration-date-time">
        <span class="input-group-addon" id="Start Date"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
        <input required #couponStartDate="ngModel" class="form-control" name="registration_date" id="registration-date"
          type="date" [(ngModel)]="startDate">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="control-label col-md-2" for="registration-date">End Date</label>
    <div class="col-md-4">
      <div class="input-group registration-date-time">
        <span class="input-group-addon" id="End Date"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
        <input required #couponEndDate="ngModel" class="form-control" name="expiration_date" id="expiration-date"
          type="date" [(ngModel)]="endDate">
      </div>
    </div>
  </div>


  <div class="form-group row row">
    <label class="col-md-2 control-label" for="textinput">Image Name</label>
    <div class="col-md-4">
        <input required #couponImage="ngModel" name="couponImage" type="text" placeholder="choose file" [(ngModel)]="image"
        class="form-control input-md">
      <input #fileInput type="file" (change)="onFileChanged($event)" >
      <!-- <img class="img-thumbnail" [src]="image"> -->
      <!-- <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput> -->
      <!-- <button (click)="fileInput.click()">Select File</button> -->
    </div>
  </div>
  
  <div class="form-group row row">
  </div>
  <div class="form-group row">
    <label class="col-md-2 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <button [disabled]="!createProductForm.form.valid || imageFile == null" id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Create
        Coupon</button>
        <button  id="clearbutton" name="clearbutton" class="btn btn-secondary" type="reset">Clear Form</button>
      </div>
    </div>
  </form>
  
  <!-- <button (click)="fileInput.click()">Select File</button> -->
  <!-- <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput> -->
  <div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  